.footer {
  width: 100%;
  background: #181818;
  color: #bbb;
  text-align: center;
  padding: 18px 0;
  font-size: 16px;
  position: relative;
  bottom: 0;
}

.footer__text {
  letter-spacing: 1px;
}
